.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#list {
  list-style: none;
}

#delete {
  color: red;
  font-size: calc(1px + 2vmin);
  cursor: pointer;
}
#complete {
  color: green;
  font-size: calc(1px + 2vmin);
  cursor: pointer;
}

.headers {
  color: gray;
}

.todoList {
  font-size: calc(7px + 2vmin);
}

.completed {
  text-decoration: line-through;
  color: gray;
}
